---
import Scoreboard from "@/components/Scoreboard";
import Leaderboard from "@/components/Leaderboard";
import NewRoundModal from "@/components/NewRoundModal";
import AddNewPlayer from "@/components/AddNewPlayer";
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Welcome to Astro.">
	<main class="w-[800px] flex flex-col gap-8 my-16 mx-auto">
		<Leaderboard client:only />
		<div>
			<NewRoundModal client:only />
			<AddNewPlayer client:only />
		</div>
		<Scoreboard client:only/>
	</main>
</Layout>
