---
import Scoreboard from "@/components/Scoreboard";
import Leaderboard from "@/components/Leaderboard";
import NewRoundModal from "@/components/NewRoundModal";
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Welcome to Astro.">
		<Leaderboard client:only />
		<Scoreboard client:only/>
		<div>
			<NewRoundModal client:only />
		</div>
</Layout>
